*/embeds/*
*/.cache
*/.attic
.attic
.cache
.nodemon.log
embeds
.n
*/build
*/.cache
loader/meson/*
embed/meson/*
tmp/
*/*/subprojects/*
*//subprojects/*
*/subprojects/*
loader/submodules/*
embed/submodules/*
embed/deps/*
loader/deps/*
LEGACY
