[submodule "submodules/djbhash"]
	path = submodules/djbhash
	url = https://github.com/gdi/djbhash
[submodule "submodules/chan"]
	path = submodules/chan
	url = https://github.com/tylertreat/chan
[submodule "submodules/b64.c"]
	path = submodules/b64.c
	url = https://github.com/littlstar/b64.c
[submodule "submodules/clfag"]
	path = submodules/clfag
	url = https://github.com/aperezdc/cflag
[submodule "submodules/cflag"]
	path = submodules/cflag
	url = https://github.com/aperezdc/cflag
[submodule "submodules/libtermkey"]
	path = submodules/libtermkey
	url = https://github.com/astoeckel/libtermkey
[submodule "submodules/c_stringfn"]
	path = submodules/c_stringfn
	url = https://github.com/sagiegurari/c_stringfn
[submodule "submodules/c_ansi"]
	path = submodules/c_ansi
	url = https://github.com/binRick/c_ansi
[submodule "submodules/asprintf.c"]
	path = submodules/asprintf.c
	url = https://github.com/jwerle/asprintf.c
[submodule "submodules/meson_deps"]
	path = submodules/meson_deps
	url = ssh://git@github.com/binRick/meson_deps
